# Displays commit information in a discord webhook

name: Write Info
on:
  push:
    branches:
      - '!**-main'

jobs:
  build:
    name: grab commit information
    permissions: write-all
    strategy:
      matrix:
        java: [ 17 ]
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v2

      - name: get date/time
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"


      - name: notify annoying people
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_2 }}
          DISCORD_USERNAME: Github Activity
        uses: Ilshidur/action-discord@master
        with:
          args: |
            ## New Github activity: ``${{ steps.date.outputs.date }}:${{ github.run_id }}``
            ### Commit details:
            ```
              ${{ github.event.head_commit.message }}
            ```

